.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 500px;
        margin: 0 auto;
    }
    .button__container {
        display: flex;
        align-self: center;
        justify-content: space-around;
        width: 230px;
        padding-bottom: 20px;
        button {
            width: 100px;
            padding: 10px 0;
            border-radius: 5px;
            border: 1px solid #971616;
            background-color: #c81d1d;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
        }
    }
}